
@{
    ViewBag.Title = "Home Page";

}
<script>
    {
        $(function (e) {
            var data = $('#divUserUri').html();
            if ($(data != null && data != undefined)) {
                localStorage.setItem("imgData", data);
            }
            var dataBgr = $('#divBackUri').html();
            if (dataBgr != null && dataBgr != undefined) {
                var arr0 = JSON.parse(dataBgr);
                console.log("arr0: " + arr0[0])
                localStorage.setItem("arrImg", dataBgr);
            }
        })
    }
</script>

<div hidden="hidden" id="divUserUri">
    @ViewBag.UserUri
</div>
<div hidden="hidden" id="divBackUri">
    @ViewBag.imgBackGround
</div>
<div class="jumbotron">
    <h1>Спортклуб Itstep</h1>
    <p class="lead">Присоединяйся к нам. Делай вместе с нами. Делай лучше нас!</p>
    <p>@Html.ActionLink("Узнать больше >>", "Section", "Home", new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Правила спортклуба</h2>
        <p> Наш спортклуб продолжает политику внедрения экологии разума в трудовые массы. Lorem ipsum...</p>
        <p>@Html.ActionLink("Узнать больше >>", "Politics", "Home", new { @class="btn btn-default"})</p>
    </div>
</div>
