@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<div>
    <p>Режим работы спортивного центра.</p>
    <div>
        <ul>
            Спортивный центр открыт ежедневно (кроме 1 января) в соответствии с установленными часами работы:
            <li>будние дни — с 7.00 до 23.00;</li>
            <li>выходные и праздничные дни — с 8.00 до 22.00;</li>
        </ul>
    </div>
</div>

<p>
    Занятия в спортивном центре необходимо завершить за 20 минут до окончания работы спортивного центра и покинуть спортивный центр не позднее установленного времени окончания работы спортивного центра. Доступ в спортивный центр за 60 минут до закрытия прекращается.
</p>
<p>
    Спортивный центр может изменять часы работы в течение сезона и, в случае технической или иной необходимости, а также по обстоятельствам, не зависящим от Исполнителя, временно закрывать помещения спортивного центра (отдельные тренировочные территории и пр.), а также сам спортивный центр без выплаты Клиенту любого рода компенсаций. Ограничение работы оборудования на срок не более 30 (тридцати) календарных дней в течение полугода по причине ремонта, технического обслуживания помещений (оборудования), или на другой срок при наступлении обстоятельств, не зависящих от Исполнителя, не может являться основанием для требования выплаты Исполнителем Клиенту любого рода компенсаций.
</p>
<ul>
    <li>При проведении технических мероприятий или каких-либо спортивных, развлекательных мероприятий в спортивном центре Исполнитель вправе ограничить зону, предназначенную для тренировок, для физкультурно-оздоровительных занятий, о чем Клиента извещаются не менее чем за 24 часа до проведения указанных мероприятий путем размещения информации на территории спортивного центра.</li>
    <li>За технические неудобства, вызванные проведением сезонных, профилактических и аварийных работ службами коммунального хозяйства Исполнитель ответственности не несет.</li>
    <li>Клиента обязаны соблюдать и поддерживать общественный порядок и общепринятые нормы поведения, вести себя уважительно по отношению к другим посетителям, обслуживающему персоналу, не допускать действий, создающих опасность для окружающих.</li>
    <li>Если вольные или невольные действия (поведение) Клиента создают угрозу для его собственной жизни и/или здоровья, а также здоровья и/или жизни окружающих или противоречат общепринятым нормам морали и этики, сотрудники внутреннего контроля Исполнитель вправе применить меры к указанным лицам в виде отстранения от тренировок (пребывания в спортивном центре), вывода за пределы спортивного центра или вызова сотрудников правоохранительных органов.</li>
    <li>Употребление и распространение в спортивном центре алкогольных напитков, наркотических средств, курение табака ЗАПРЕЩЕНО.</li>
    <li>Посещение спортивного центра при наличии остаточных явлений алкогольного опьянения (похмельного синдрома) ЗАПРЕЩЕНО.</li>
    <li>При подозрении на наличие у Клиента признаков алкогольного и/или наркотического опьянения, а также остаточных явлений алкогольного опьянения (похмельный синдром) сотрудники спортивного центра вправе применить меры к указанным лицам в виде отстранения от тренировок и вывода за пределы спортивного центра или вызова сотрудников правоохранительных органов.</li>
    <li>При заключении договора о предоставлении услуг спортивного центра, физкультурно-оздоровительных услуг Клиент подтверждает, что ни он, ни его несовершеннолетние дети не имеют медицинских противопоказаний для занятий физкультурой, спортом и полностью принимает на себя ответственность за состояние своего здоровья и состояние здоровья своих несовершеннолетних детей, посещающих спортивный центр вместе с ними.</li>
    <li>Клиенты обязаны самостоятельно и ответственно контролировать свое собственное здоровье (при наличии острых инфекционных и/или кожных заболеваний, а также при обострении хронических заболеваний внутренних органов, воздержаться от посещения спортивного центра).</li>
    <li>При подозрении на наличие острого и/или кожного заболевания у Клиентов, посещение клуба не разрешается. При несоблюдении данного правила исполнитель оставляет за собой право временно отстранить Клиента от посещения спортивного центра до полного выздоровления или до проведения консультации специалиста (дерматолог, инфекционист).</li>
    <li>При посещении спортивного центра Клиенты должны внимательно относиться к личным вещам, не оставлять их без присмотра, не доверять другим лицам.</li>
    <li>Для хранения личных вещей Клиенты должны использовать специально оборудованные шкафы в раздевалках, а для хранения ценных вещей – специально оборудованные индивидуальные сейфы, расположенные на территории спортивного центра.</li>
    <li>За утерянные или оставленные без присмотра вещи, в том числе после ухода Клиента из спортивного центра, исполнитель ответственности не несет. За оставленные ценные вещи вне индивидуального сейфа Исполнитель ответственности не несет.</li>
    <li>Все найденные на территории спортивного центра вещи регистрируются сотрудниками Исполнителя в «Журнале учета забытых и оставленных вещей» и хранятся в течении одного месяца. ЗА хранение взимается плата в соответствии с прейскурантом Исполнителя.</li>
    <li>Для переодевания Исполнитель предоставляет Клиентам одно отделение в специальных кабинках для переодевания, которыми оборудованы раздевалки спортивного центра.</li>
    <li>Переодеваться можно только в помещениях раздевалок.</li>
    <li>При входе в спортивный центр Клиент обязан сменить уличную обувь на спортивную.</li>
    <li>Клиенты должны быть вежливы по отношению к персоналу спортивного центра и другим посетителям спортивного центра. Должны бережно относиться к имуществу Исполнителя, сохранять имущество исполнителя.</li>
    <li>ЗАПРЕЩЕНО посещать занятия голодными.</li>
    <li>Исполнитель обеспечивает рабочее состояние спортивного, сантехнического и иного оборудования, которое подвергается ежедневной дезинфекционной обработке в соответствии с требованиями санитарных норм и правил, в туалетных комнатах предоставляются пакеты для гигиенических предметов.</li>
    <li>Клиентам запрещено самостоятельно включать и выключать кондиционеры, звуковую, теле-, видео-технику, компьютерную технику спортивного центра.</li>
    <li>Клиентам запрещается приносить и пользоваться электробытовыми и нагревательными приборами в помещениях спортивного центра.</li>
    <li>Клиентам запрещено входить в служебные и прочие технические помещения, самостоятельно регулировать любое инженерно-техническое оборудование.</li>
    <li>Клиентам запрещено беспокоить других посетителей спортивного центра, нарушать чистоту и порядок, использовать в своей речи нецензурные или ненормативные выражения.</li>
    <li>Прием пищи на территории спортивного центра осуществляется в специально предназначенных для этого местах.</li>
    <li>Клиентам запрещается приводить/приносить с собой животных.</li>
    <li>Жевать жевательную резинку на фитнес площадках на территории спортивного центра ЗАПРЕЩЕНО, это опасно для вашего здоровья.</li>
    <li>На территории спортивного центра, а также на территории, прилегающей к спортивному центру, курение запрещено.</li>
</ul>



